html {
  height: 2816px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

/* HERO */
header {
  height: 1024px;
  background:
  linear-gradient(29deg, rgba(255,151,151,.5) 0%, rgba(253,29,29,.5) 100%),
  url("https://images.unsplash.com/photo-1516707471165-777029111409?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=77d4d031b6f15f50c68e65e830a83ac5&auto=format&fit=crop&w=967&q=80");
  mix-blend-mode: normal;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: #FF9797; */
  /* position: absolute;
  top: 0px; */
  /* width: 1519px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.herodiv {
  width: 687px;
  height: 448px;
  background: rgba(8, 8, 8, 0.7);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.herodiv h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 59px;
}

.herodiv p {
  font-size: 18px;
  line-height: 21px;
}

/* ABOUT */

#about {
  height: 512px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.96) 7.64%, rgba(255, 255, 255, 0) 50%), #FF9797;
  position: relative;
  display: flex;
  /* width: 1519px; */
  width: 100%;
}



#about > h3 {
position: absolute;
width: 130px;
height: 31px;
left: 171px;
top: 94px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 24px;
text-align: center;
color: #FFFFFF
}

#about > p {
  position: absolute;
width: 384px;
height: 133px;
left: 179px;
top: 174px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;

color: #FFFFFF;
}


/* REVIEWS */

#review {
  height: 512px;
  /* width: 1519px; */
  background: #FF9797;
  position: relative;
  width: 100%;
}

#review .leftpane {
position: relative;

}

#review > h3 {

  width: 230px;
  position: absolute;
  font-size: 24px;
  height: 66px;
  left: 171px;
  top: 46px;
  color: white;
}

hr {
  border: 2px solid white;
  color: white;
}

#review > p {
  position: absolute;
  width: 538px;
  height: 268px;
  left: 171px;
  top: 132px;
  color: white;
  font-size: 24px;
  letter-spacing: 0.02em;
  line-height: normal;
}

#review .rightpane {
  width: 50%;
  height: 512px;
  background-image: url('https://images.unsplash.com/photo-1500919037572-ade5a9cd950c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fdf6cb410c6466dbcf774ed13a14b31c&auto=format&fit=crop&w=800&q=80');
  background-position: center;
  background-repeat: no-repeat;
  float: right;
}



/* MAPS */

#map {
  height: 512px;
  width: 100% !important;
}

iframe {
  width: 100% !important;
}


footer {
  height: 256px;
  /* width: 1519px; */
  width: 100%;
  background: #FF9797;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}


.social-media-container {
  width: 616px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}


.social-media-container > div {
  width: 63px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.facebook {
  background-color: #5E78D4;
}

.instagram {
  background-image: linear-gradient(-135deg,#1400c8,#b900b4,#f50000);
}

.yelp {
  background-color: #d32323;
}

footer  a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.social-media-container div:hover, .social-media-container a:hover {
  transform: scale(1.1,1.1);
}

@media only screen and (max-width: 1434px) {
  .rightpane {
    display: none;
  }
}

@media only screen and (max-width: 704px) {
  html {
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;


  }

  body > * {
    position: static !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .herodiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0;
  }

  .herodiv h1, .herodiv p  {
    position: static !important;
    width: 100%;
    font-size:
  }


  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: auto;

  }

  #about h3, #about p {
    position: static !important;
    font-size: 16px;
    width: 50%;
    color: #FF9797;
  }

  #about hr {
    border-color: #FF9797;
  }

  #review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
  }


  #review > h3,  #review p {
    position: static !important;
    font-size: 16px;
    width: 50%;
  }
  iframe {
    display:
  }

  .social-media-container {
    width: 100%;
    display: flex;
  }
  footer p {
    font-size: 1em;
    text-align: center;
  }

}
